#body
{
	width:100%;
}
#container
{
	margin-top:150px;
	width:1000px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:lightgrey;
}

#logo
{
	width:1000px;
	height:170px;
	margin-left:auto;
	margin-right:auto;
}

#adresy
{
	margin-left:20px;
    vertical-align:top; /*doci¹gniêcie obrazka do klawisza*/
    width:50px;
    height:50px;
    background:url('../img/kontakty2.png');/* wgranie obrazka jako t³o dla klawisza*/
	border-radius: 12px;
}

#wiadomosc
{
	margin-left:30px;
	margin-right:30px;
	width:85%; 
	height:150px; 
	resize:none;
}

#kontakty
{
	margin-right:30px;
	margin-left:30px;
	width:425px;
	
}
#charNum
{
	font-size:20px;
	margin-left:431px;
	color:grey;
}

#lewy
{
	float:left;
	width:50%;	
	background-color:lightgrey;
}

#prawy
{	
	float:left;
	width:50%;
	height:207px;	
	background-color:lightgrey;
}

#wyslij
{
	clear:both;
float:right;
}